spring:
  application:
    name: TradingSystem
  
  profiles:
    active: dev
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.H2Dialect
  
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
  web:
    error:
      include-message: always
      include-binding-errors: always
      include-stacktrace: on_param
      include-exception: false

server:
  port: 8081

springdoc:
  swagger-ui:
    path: /swagger-ui
    enabled: true
  show-actuator: true

logging:
  level:
    root: INFO
    org.aquariux.tradingsystem: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    org.h2: WARN
    org.h2.engine: WARN
    org.h2.jdbc: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

scheduler:
  binance:
    url: https://api.binance.com/api/v3/ticker/bookTicker
  huobi:
    url: https://api.huobi.pro/market/tickers


