spring:
  datasource:
    url: jdbc:h2:mem:tradingdb_dev
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  
  h2:
    console:
      enabled: true

logging:
  level:
    root: INFO
    org.aquariux.tradingsystem: DEBUG
    org.springframework.web: DEBUG
    org.hibernate: DEBUG
